@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

/* Root Variables */
:root {
  --primary-colour: #ffffff;
  --secondary-colour: #393939;
  --tertiary-colour: #353e45;
  --font-colour: #323740;
  --font-2-color: #575757;
  --text-font-family: "Roboto", serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
/* Start Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--primary-colour);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container img {
  height: 40px;
}

.nav-links-container {
  display: flex;
  gap: 20px;
}

.nav-links-container a {
  text-decoration: none;
  font-family: var(--text-font-family);
  color: var(--font-colour);
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links-container a:hover {
  color: var(--secondary-colour);
}
/* End Navbar */

/* Dropdown Design */
/* Start Dropdown */
.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--font-colour);
  padding: 10px 15px;
  background-color: inherit;
  font-family: var(--text-font-family);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-colour);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--font-colour);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--secondary-colour);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End Dropdown */

/* Hamburger Menu */
/* Start Hamburger Menu */
.hamburger-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.hamburger {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-colour);
  transition: all 0.3s ease;
}

.hamburger-menu-container.open .First {
  transform: rotate(45deg);
}

.hamburger-menu-container.open .Second {
  opacity: 0;
}

.hamburger-menu-container.open .Third {
  transform: rotate(-45deg);
}
/* End Hamburger Menu */

/* Sidebar Styling */
/* Start Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--primary-colour);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
  overflow: hidden;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-colour);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--secondary-colour);
}

.sidebar.open {
  width: 250px;
}

.sidebar-logo {
  width: 6rem;
  height: auto;
  margin-bottom: 15px;
  border-radius: 2px;
}

hr {
  border: none;
  height: 0.3px;
  background-color: #d7d7d7; /* Color of the line */
  margin: 20px 10px;
}
/* End Sidebar */

/* Small Screen Styles */
/* Start Small Screen */
.small-screen-values {
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 16px;
}

.small-screen-dropdown .dropbtn {
  color: var(--font-colour);
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: var(--text-font-family);
}

.dropdown-content a {
  color: var(--font-colour);
}
.dropdown-content :hover {
  background-color: #f1f1f1;
}

.small-screen-dropdown:hover .dropdown-content {
  display: block;
}
/* End Small Screen */

/* Large Screen Values */
/* Start Large Screen Values */
.large-screen-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-family: var(--text-font-family);
  color: var(--font-colour);
}

.large-screen-values h2,
.large-screen-values h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.large-screen-values p {
  color: var(--secondary-colour);
  margin-bottom: 50px;
  font-size: 16px;
}
/* End Large Screen Values */

/* Media Queries */
/* Start Media Queries */
@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .hamburger-menu-container {
    display: flex;
  }

  .large-screen-values {
    display: none;
  }

  .logo-container img {
    height: 30px;
  }

  .slideshow-container img {
    height: auto;
  }
}

@media (min-width: 769px) {
  .nav-links-container {
    display: flex;
  }

  .sidebar a {
    display: none;
  }

  .sidebar.open {
    width: 500px;
  }

  .small-screen-dropdown {
    display: none;
  }

  hr {
    display: none;
  }
}
/* End Media Queries */

/* Overlay Styling */
/* Start Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0.5;
  transition: 0.3s ease;
}

.overlay.open {
  display: flex;
}
/* End Overlay */

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  margin-bottom: 80px;
}

/* Banner Column Styles */
.banner-column {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  box-sizing: border-box;
  position: relative;
}

/* Image Styles */
.banner-image {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Banner Text Section Styles */
.banner-inner {
  width: 100%;
  text-align: left;
  padding: 2rem;
  box-sizing: border-box;
}

.heading-xl {
  font-size: 3rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 1rem;
}

.paragraph {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  border: none;
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
  transition: ease-in-out 0.3s;
}


/* Media Queries for Small Screens */
@media only screen and (max-width: 768px) {
  .banner-column {
    flex-direction: column;
    padding: 1rem;
  }

  .banner-image {
    max-width: 90%;
    margin: 1rem auto;
  }

  .banner-inner {
    text-align: center;
    padding: 1rem 0;
  }

  .heading-xl {
    font-size: 2rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .banner-links a {
    font-size: 1.2rem;
  }
}


















/* Footer Styling */
.footer {
  background-image: url("/Assets/Sites/Starbucks-Chennai/starbucks-chennai\ \(7\).jpeg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-links,
.footer-social {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-links {
  display: none;
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-links h4,
.footer-social h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links a {
  text-decoration: none;
  color: var(--primary-colour);
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: var(--secondary-colour);
}

.footer-social .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-heading {
  display: none;
}

.social-icon {
  font-size: 40px;
  color: var(--primary-colour);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--secondary-colour);
}

/* Footer Copyright */
.footer-copyright {
  padding: 10px;
}

.footer-copyright p {
  font-size: 14px;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-links {
    display: block;
  }

  .footer-heading {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    text-align: center;
  }
}

/* loader animations */
/* Circle loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--secondary-colour);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.5s linear infinite;
  z-index: 9999;
  display: none;
}

/* Animation for the rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show-loader .loader {
  display: block;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease-out, transform 0.8s ease-out;
}
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
