@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");

/* Root Variables */
:root {
  --primary-colour: #ffffff;
  --secondary-colour: #393939;
  --tertiary-colour: #353e45;
  --font-colour: #323740;
  --font-2-color: #575757;
  --text-font-family: "Roboto", serif;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Styling */
/* Start Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 90px 0px 90px;
  background-color: var(--primary-colour);
}

.logo-container img {
  height: 40px;
}

.nav-links-container {
  display: flex;
  gap: 20px;
}

.nav-links-container a {
  text-decoration: none;
  font-family: var(--text-font-family);
  color: var(--font-colour);
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links-container a:hover {
  color: var(--secondary-colour);
}
/* End Navbar */





/* Start Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0.5;
  transition: 0.3s ease;
}

.overlay.open {
  display: flex;
}
/* End Overlay */













/* Start Dropdown */
.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: var(--font-colour);
  padding: 10px 15px;
  background-color: inherit;
  font-family: var(--text-font-family);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-colour);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  color: var(--font-colour);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: var(--secondary-colour);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* End Dropdown */

/* Hamburger Menu */
/* Start Hamburger Menu */
.hamburger-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 2;
}

.hamburger {
  width: 100%;
  height: 3px;
  background-color: var(--secondary-colour);
  transition: all 0.3s ease;
}

.hamburger-menu-container.open .First {
  transform: rotate(45deg);
}

.hamburger-menu-container.open .Second {
  opacity: 0;
}

.hamburger-menu-container.open .Third {
  transform: rotate(-45deg);
}
/* End Hamburger Menu */

/* Sidebar Styling */
/* Start Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--primary-colour);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1;
  overflow: hidden;
}
.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 20px;
  color: var(--font-colour);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--secondary-colour);
}

.sidebar.open {
  width: 250px;
}

.sidebar-logo{
  width: 6rem;
  height: auto;
  margin-bottom: 15px;
  border-radius: 2px;
}

hr {
  border: none;
  height: 0.3px;
  background-color: #d7d7d7; /* Color of the line */
  margin: 20px 10px; 
}
/* End Sidebar */

/* Small Screen Styles */
/* Start Small Screen */
.small-screen-values {
  font-family: var(--text-font-family);
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 16px;
}

.small-screen-dropdown .dropbtn {
  color: var(--font-colour);
  padding: 10px 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-family: var(--text-font-family);
}

.dropdown-content a {
  color: var(--font-colour);
}
.dropdown-content :hover{
  background-color: #f1f1f1;
}

.small-screen-dropdown:hover .dropdown-content {
  display: block;
}
/* End Small Screen */

/* Large Screen Values */
/* Start Large Screen Values */
.large-screen-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-family: var(--text-font-family);
  color: var(--font-colour);
}

.large-screen-values h2,
.large-screen-values h3 {
  font-size: 40px;
  margin-bottom: 10px;
}

.large-screen-values p {
  color: var(--secondary-colour);
  margin-bottom: 50px;
  font-size: 16px;
}
/* End Large Screen Values */

/* Media Queries */
/* Start Media Queries */
@media (max-width: 768px) {
  .nav-links-container {
    display: none;
  }

  .hamburger-menu-container {
    display: flex;
  }

  .large-screen-values {
    display: none;
  }

  .logo-container img {
    height: 30px;
  }

  .slideshow-container img {
    height: auto;
  }

  .navbar{
    padding: 20px 20px 0px 20px;
  }
}

@media (min-width: 769px) {
  .nav-links-container {
    display: flex;
  }

  .sidebar a {
    display: none;
  }

  .sidebar.open {
    width: 500px;
  }

  .small-screen-dropdown{
    display: none;
  }

  hr{
    display: none;

  }
}
/* End Media Queries */
/* Overlay Styling */
/* Start Overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0.5;
  transition: 0.3s ease;
}

.overlay.open {
  display: flex;
}
/* End Overlay */

/* services that we offer section */
.offerings {
  text-align: center;
  padding: 10px;
}

.offerings-title {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #6a6a6a;
}

.services-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: black;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card h4 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  margin-top: 20px;
}

.service-card p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.view-all-button {
  color: black;
  margin-top: 20px;
  border: none;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.view-all-button:hover {
  transform: translateY(-5px);
}

/* Media query to hide images on smaller screens */
@media (max-width: 768px) {

  .services-title {
    font-size: 2rem;
  }

  .service-card {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .service-card img {
    width: 50px;
  }

  .services-title {
    font-size: 2rem;
  }

  .service-card {
    width: 150px;
    height: auto;
  }
  .service-card h4 {
    font-size: 1.2rem;
    color: #1a1a1a;
    margin-bottom: 15px;
    margin-top: 20px;
  }
  
  .service-card p {
    display: none;
  }
}

.half-pages {
  width: 100%;
  padding: 20px;
}

.left-right-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 150px;
  gap: 50px;
}

.left-section {
  flex: 1;
  padding-right: 20px;
}

.right-section {
  flex: 1;
}

.section-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-subheading {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 15px;
}

.section-paragraph {
  font-size: 1rem;
  line-height: 1.5;
  padding-right: 0px 20px;
}

.section-image {
  width: 500px;
  height: auto;
  border-radius: 8px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .top-down {
    flex-direction: column;
    padding: 0px 20px;
    gap: 20px;
  }

  .down-top {
    flex-direction: column-reverse;
    padding: 0px 20px;
    gap: 20px;
  }

  .section-heading {
    font-size: 1.5rem;
  }

  .section-subheading {
    font-size: 1.2rem;
  }

  .section-paragraph {
    font-size: 0.9rem;
  }

  .section-image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .section-heading {
    font-size: 1.2rem;
  }

  .section-subheading {
    font-size: 1rem;
  }

  .section-paragraph {
    font-size: 0.8rem;
  }

  .left-right-section {
    padding: 0px 10px;
  }
}



.footer {
  background-image: url("../Assets/backgrounds/backgrounds\ \(3\).jpg");
  background-color: #f7f7f7;
  padding: 4rem 2rem 2rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-heading {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #222;
}

.footer-brand {
  flex: 1 1 250px;
}

.footer-brand p {
  font-size: 0.95rem;
  max-width: 300px;
  color: #292929;
}

.footer-links,
.footer-services {
  flex: 1 1 180px;
}

.footer-links h4,
.footer-services h4 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
  color: #111;
}

.footer-links ul,
.footer-services ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-services li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #ddd;
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* loader animations */
/* Circle loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid var(--secondary-colour);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.5s linear infinite;
  z-index: 9999;
  display: none;
}

/* Animation for the rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show-loader .loader {
  display: block;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.9s ease-out, transform 0.8s ease-out;
}
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}
